.d-flex {
  width: 100%;
  height: 100%;
}

.jar-button {
  background-color: black;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px #0004;
}

.jar-button.left {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid white
}

.jar-button.right {
  border-radius: 0 20px 20px 0;
}

.jar-button.disabled {
  background-color: #c4c4c4;
  border: none;
}

.jar-button:active {
  background-color: white;
}