<div class="container-fluid d-flex justify-content-center flex-column">
  <div class="tutorial-card d-flex flex-column">
    <div class="tutorial-text">
      <p>You can also invite friends to use the app by giving them a compliment and sending the invitation link.</p>


      <p> Enjoy your compliment cookies!</p>
    </div>
    <!-- <div class="d-flex justify-content-end">
      <div class="jar-buttons-container">
        <app-jar-buttons disabled="left"></app-jar-buttons>
      </div>
    </div> -->
    <div class="image-container">
      <img src="assets/images/coffee-cookie.svg" alt="">
    </div>
  </div>
  <div class="button-container py-5 w-100 d-flex justify-content-end">
    <div class="col-5">
      <button class="btn next-button w-100" (click)="done()">I’m ready for the cookie jar</button>
    </div>
  </div>
</div>