.jar-container {
  position: relative;
  display: flex;
  justify-content: center;
  animation: appear .5s;
}

.jar-button-container {
  position: absolute;
  width: 80%;
  top: 65%;
  height: 20%;
}

.image-container {
  max-height: 80vh;
}

.jar-title-container {
  position: absolute;
  top: 13%;
  font-size: 30px;
}

.jar-title-container textarea {
  border: none;
  background-color: transparent;
  resize: horizontal;
}

.jar-title-container textarea.empty {
  border-bottom: solid 2px black;
}

.jar-title-container span {
  bottom: 15px;
  position: relative;
}

@keyframes appear {
  from {
    transform: scale(.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}