.jar-container {
  position: relative;
  display: flex;
  justify-content: center;
  animation: appear .5s;
}

.jar-button-container {
  position: absolute;
  width: 80%;
  top: 65%;
  height: 20%;
}

.jar-title-container {
  position: absolute;
  top: 13%;
}

h1 {
  font-size: 30px;
}

@keyframes appear {
  from {
    transform: scale(.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}