.container-fluid {
  background-color: var(--yellow);
  height: 100vh;
  padding: 20px
}

.compliment-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  min-height: 50vh;
  max-height: 80vh;
  animation: slide-down .4s;
  overflow-y: auto;
}

div {
  font-size: 20px;
}

.date {
  padding: 33px 22px;
}

.compliment-text {
  flex: 1;
  padding: 65px 22px 10px 22px;
}

.share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  height: 30px;
}

.compliment-footer {
  width: 100%;
}

.button {
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px #0004;
  border-radius: 20px;
  padding: 16px 0
}

.button:active {
  background-color: white;
}

.reaction {
  pointer-events: all;
  transition: all .2s;
}

.reaction:active, .selected {
  transform: scale(1.2);
}

.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0007;
}