<div class="give-compliment-card d-flex flex-column">
  <div class="close image-container" routerLink="/">
    <img src="assets/images/close.svg" alt="">
  </div>
  <div class="header d-flex justify-content-center">
    <div class="emoji image-container">
      <img src="assets/images/happy.svg" alt="">
    </div>
  </div>
  <div class="date">
    {{ formattedDate }}
  </div>
  <div class="input-container">
    <textarea placeholder="Write something nice to yourself..."></textarea>
  </div>
  <a class="inspiration">
    Having a hard time coming up with something?
  </a>
</div>
<div class="py-5 w-100 d-flex justify-content-center">
  <div class="w-75">
    <app-add-button></app-add-button>
  </div>
</div>