<div class="give-compliment-card d-flex flex-column">
  <div class="close image-container" routerLink="/">
    <img src="assets/images/close.svg" alt="">
  </div>
  <div class="header d-flex justify-content-center">
    <div class="emoji image-container">
      <img [src]="'assets/images/' + currentImage" alt="">
    </div>
  </div>
  <div class="date">
    {{ formattedDate }}
  </div>
  <div class="input-container">
    <textarea 
      [ngModel]="complimentText" 
      (ngModelChange)="onComplimentChange($event)" 
      [placeholder]="'Write something nice to ' + (!invite ? 'yourself' : 'your friend') + '...'"></textarea>
  </div>
  <div *ngIf="!invite">
    <a *ngIf="!isSuggested; else suggestedFooter" class="inspiration" routerLink="/give/suggest">
      Having a hard time coming up with something?
    </a>
    <ng-template #suggestedFooter>
      <div class="row">
        <div class="col-6">
          <a class="inspiration" routerLink="/give">
            Back to free writing mode
          </a>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div class="shuffle image-container" (click)="generateRandomSuggestion()">
            <img src="assets/images/shuffle.svg" alt="">
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="button-container py-5 w-100 d-flex justify-content-center">
  <div class="w-75">
    <app-add-button [disabled]="hateSpeech" [text]="invite ? 'Copy invite link' : 'Add'" (click)="buttonAction(this.complimentText)"></app-add-button>
  </div>
</div>