<div class="container-fluid d-flex justify-content-center flex-column">
  <div class="tutorial-card d-flex flex-column">
    <div class="tutorial-text">
      <p>We want to make you feel more confident about yourself by encouranging of giving compliments to your future self. You can give compliments by clicking the ‘Give’ button and coming up something nice to say about youself :) 
      </p>
    </div>
    <div class="d-flex justify-content-end">
      <div class="jar-buttons-container">
        <app-jar-buttons disabled="left"></app-jar-buttons>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/coffee-cookie.svg" alt="">
    </div>
  </div>
  <div class="button-container py-5 w-100 d-flex justify-content-end">
    <div class="col-6">
      <button class="btn next-button w-100" routerLink="/tutorial/3">Can I also get some compliments?</button>
    </div>
  </div>
</div>