<div class="container-fluid d-flex justify-content-center flex-column">
  <div class="tutorial-card d-flex flex-column">
    <div class="tutorial-text">
      <p>Of course it is also important to receive compliments! You can get compliments by selecting ‘Get’. If you feel like getting more compliments, feel free to tap for more. If you are out of compliments, don’t worry you can always get new by clicking ‘Surprise me’ button in the bottom!
      </p>
    </div>
    <div class="d-flex justify-content-end">
      <div class="jar-buttons-container">
        <app-jar-buttons disabled="left"></app-jar-buttons>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/coffee-cookie.svg" alt="">
    </div>
  </div>
  <div class="button-container py-5 w-100 d-flex justify-content-end">
    <div class="col-5">
      <button class="btn next-button w-100" routerLink="/tutorial/4">Yes!</button>
    </div>
  </div>
</div>