

* { outline: 0!important; }

html {
  font-size: 16px;
}

*, body {
  font-weight: inherit;
}

:root {
  --yellow: #FAF331;
  --geen: rgb(116, 176, 32);
  --red: rgb(190, 50, 50);
  --shadow: 2px 2px 14px -3px #0007;
  --header-height: 3rem;
  --transition: all ease-in-out .2s;
  --gray: #0004;
  --light: #AFAFAF;
  --dark: #1f1509;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  font-weight: 300;
}

.material-icons {
  font-size: 1em!important;
  line-height: unset!important;
}

.mat-icon {
  width: unset!important;
  height: unset!important;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
}

.form-control:focus {
  box-shadow: none!important;
  border-color: var(--amber)!important;
}

.image-container:not(.cover) > img, .image-container:not(.cover) > svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-container.cover > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px){
  html{
      font-size: 15px;
  }
}

@media screen and (max-width: 450px){
  html{
      font-size: 14px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Inconsolata', sans-serif; }
