<div class="container-fluid d-flex flex-column align-items-cente justify-content-center">
  <div class="compliment-card d-flex flex-column">
    <div class="share image-container">
      <img src="assets/images/share.svg" alt="">
    </div>
    <div class="date">
      {{chosenCompliment?.createdDate}}
    </div>
    <div class="compliment-text">
      <p *ngIf="chosenCompliment; else noCompliment">{{chosenCompliment.displayText}}</p>
      <ng-template #noCompliment>Start with adding compliments in your jar first :)</ng-template>
    </div>
    <div class="compliment-footer p-3 d-flex justify-content-around" *ngIf="chosenCompliment">
      <div class="image-container reaction" [ngClass]="{selected: this.chosenCompliment.reaction === 'hug'}" (click)="react('hug')">
        <img src="assets/images/hug.svg" alt="">
      </div>
      <div class="image-container reaction" [ngClass]="{selected: this.chosenCompliment.reaction === 'mixed'}" (click)="react('mixed')">
        <img src="assets/images/mixed.svg" alt="">
      </div>
      <div class="image-container reaction" [ngClass]="{selected: this.chosenCompliment.reaction === 'neutral'}"(click)="react('neutral')">
        <img src="assets/images/neutral.svg" alt="">
      </div>
      <div class="image-container reaction" [ngClass]="{selected: this.chosenCompliment.reaction === 'positive'}" (click)="react('positive')">
        <img src="assets/images/positive.svg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-around p-4" *ngIf="this.chosenCompliment; else noComplimentButtons">
    <div class="col-6">
      <button class="btn button w-100" (click)="putBack()">Put back</button>
    </div>
    <div class="col-6">
      <button class="btn button w-100" (click)="store()">Store</button>
    </div>
  </div>
  <ng-template #noComplimentButtons>
    <div class="row justify-content-around p-4">
      <div class="col-10">
        <button class="btn button w-100" routerLink="/give">Add compliment</button>
      </div>
    </div>
  </ng-template>
</div>